body {
    margin: 0;
    font-family: Robot, sans-serif;
}

.container {
    margin: 64px auto;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    border: 2px solid darkslategray;
    padding: 32px;
    display: flex;
    flex-direction: column;
    border-radius: 4%;
    background-color: lightgray;
    gap: 26px;
}

.calc-row {
    display: flex;
    gap: 16px;

}

.calc-btn {
    margin: 0;
    padding: 0;
    width: 80px;
    height: 70px;
    border: 3px solid darkslategray;
    border-radius: 10%;
    font-size: 24px;
}

#clear,
#delete {
    flex: 1 1 auto;
    border-radius: 6px;
    font-size: 28px;
    font-weight: bold;
}


.calc-display {
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #f0f0f0;
}

.calc-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

div.input {
    font-size: 28px;
    padding: 16px;
}