body {
    margin: 0;
    font-family: Robot, sans-serif;
}

.container {
    margin: 64px auto;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    border: 2px solid darkslategray;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 5%;
}

.calc-row {
    display: flex;
    gap: 4px;
}

.calc-btn {
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    border: 3px solid darkslategray;
    border-radius: 10%;
}

#clear,
#delete {
    flex: 1 1 auto;
    border-radius: 6px;
    font-size: 24px;
    font-weight: bold;
}

.calc-row:first-child {
    margin: 8px 0;
    gap: 8px;
}


.calc-display {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 2px solid black;
    border-radius: 4px;
}

.calc-buttons {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

div.input {
    font-size: 22px;
    padding: 8px;
}